body{
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  padding-bottom: 200px;
}

#features {
  text-align: center;
  padding: 3% 15%;
  background-color: #fff;
  position: relative;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: white;
}

.pricing-tag {
  padding-top: 3%;
  font-weight: 900;
}

.cta-tag {
  padding: 40px;
  font-size: 3.5rem;
  font-family: "Montserrat";
  font-weight: 900;
}

.cta-btn {
  margin: 20px 7px 40px;
}

.feature {
  padding: 7% 0;
  padding-left: 70px;
  padding-right: 70px;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 400;
  color: grey;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.feature-icon {
  color: #ef8172;
  padding: 5%;
}

.feature-icon:hover {
  color: #ff4c68;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
}

.navbar-brand {
  font-size: 2.5rem;
}

.header {
  padding-top: 100px;
}

.down-btn {
  margin-top: 30px;
}

.rotateimg25 {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 160px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 30px 50px;
}

#pricing {
  text-align: center;
}

.card {
  margin: 50px 15px 30px;
}

#footer {
  padding: 70px;
  text-align: center;
}

.footer-icon{
  padding: 15px 8px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 2.5rem;
  }

  .header {
    padding-top: 50px;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
  }

  .rotateimg25 {
    position: static;
    margin-top: 100px;
    transform: rotate(0)
  }

  #title {
    padding-bottom: 100px;
  }

  .testimonial-image {
    width: 20%;
    ;
  }

  .press-logo {
    width: 25%;
  }

  .pricing-tag{
    margin-top: 50px;
  }

  #pricing{
    margin-bottom: 45px;
  }
}
